<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Product Id="*" Name="Quartz" Language="1033" Version="!(bind.fileVersion.Quartz.Exe)" Manufacturer="The Parable Group" UpgradeCode="6ca4d840-9568-438a-a7fb-38a824ef96ca">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
		<UIRef Id="WixUI_InstallDir" />
		<WixVariable Id="WixUILicenseRtf" Value="license.rtf" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="DesktopFolder" Name="Desktop">
				<Component Id="ApplicationShortcutDesktop">
					<Shortcut Id="ApplicationDesktopShortcut"
						Name="Quartz"
						Description="Quartz editor."
						Target="[INSTALLFOLDER]Quartz.exe"
						WorkingDirectory="TARGETDIR" />
					<RemoveFolder Id="DesktopFolder" On="uninstall" />
					<RegistryValue
						Root="HKCU"
						Key="Software/Quartz"
						Name="installed"
						Type="integer"
						Value="1"
						KeyPath="yes" />
				</Component>
			</Directory>
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Quartz">
					<Directory Id="XLCAESFolder" Name="ca-ES" />
					<Directory Id="XLCSCZFolder" Name="cs-CZ" />
					<Directory Id="XLDEFolder" Name="de" />
					<Directory Id="XLESFolder" Name="es" />
					<Directory Id="XLFRFolder" Name="fr" />
					<Directory Id="XLHUFolder" Name="hu" />
					<Directory Id="XLITFolder" Name="it" />
					<Directory Id="XLJAFolder" Name="ja" />
					<Directory Id="XLKOFolder" Name="ko" />
					<Directory Id="XLNLBEFolder" Name="nl-BE" />
					<Directory Id="XLPLFolder" Name="pl" />
					<Directory Id="XLPTBRFolder" Name="pt-BR" />
					<Directory Id="XLROFolder" Name="ro" />
					<Directory Id="XLRUFolder" Name="ru" />
					<Directory Id="XLSVFolder" Name="sv" />
					<Directory Id="XLZHHANSFolder" Name="zh-HANS" />
					<Directory Id="XLZHHANTFolder" Name="zh-HANT" />
				</Directory>
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="Quartz" />
			</Directory>
		</Directory>

		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut">
				<Shortcut Id="ApplicationStartMenuShortcut"  Name="Quartz" Description="Quartz Editor" Target="[#Quartz.exe]" WorkingDirectory="INSTALLFOLDER">
					<ShortcutProperty Id="ShortcutProperty.QuartzExe" Key="System.AppUserModel.ID" Value="AppUserModelId" />
				</Shortcut>
				<Shortcut Id="UninstallProduct" Name="Uninstall Quartz" Target="[SystemFolder]msiexec.exe" Arguments="/x [ProductCode]" Description="Uninstalls Quartz Editor." />
				<RemoveFolder Id="CleanupShortcut" Directory="ApplicationProgramsFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\TheParableGroup\Quartz" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>

		<DirectoryRef Id="INSTALLFOLDER">
			<Component Id="Quartz.exe">
				<File Id="Quartz.exe" Source="Source\Quartz.exe" KeyPath="yes" />
			</Component>
		</DirectoryRef>

		<Feature Id="Complete" Title="Quartz" Display="expand" Level="1" ConfigurableDirectory="INSTALLFOLDER">
			<Feature Id="ProductFeature" Title="Quartz" Level="1">
				<ComponentGroupRef Id="ProductComponents" />
				<ComponentGroupRef Id="LocalizationComponents" />
				<ComponentRef Id="ApplicationShortcut" />
				<ComponentRef Id="ApplicationShortcutDesktop" />
				<ComponentRef Id="Quartz.exe" />
			</Feature>
		</Feature>
	</Product>

	<Fragment>
		<Icon Id="Quartz.ico" SourceFile="Quartz.ico" />
		<Property Id="ARPPRODUCTICON" Value="Quartz.ico" />
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">

			<!-- Quartz Files -->
			<Component Id="QuartzDll">
				<File Id="QuartzDllFile" Name="Quartz.dll" Source="Source\Quartz.dll" KeyPath="yes" />
			</Component>
			<Component Id="QuartzPdb">
				<File Id="QuartzPdbFile" Name="Quartz.pdb" Source="Source\Quartz.pdb" KeyPath="yes" />
			</Component>
			<Component Id="QuartzRuntimeConfig">
				<File Id="QuartzRuntimeConfigFile" Name="Quartz.runtimeconfig.json" Source="Source\Quartz.runtimeconfig.json" KeyPath="yes" />
			</Component>
			<Component Id="QuartzDeps">
				<File Id="QuartzDepsFile" Name="Quartz.deps.json" Source="Source\Quartz.deps.json" KeyPath="yes" />
			</Component>

			<!-- Exceed Files -->
			<Component Id="AvalonDockDll">
				<File Id="AvalonDockDllFile" Name="AvalonDock.dll" Source="Source\AvalonDock.dll" KeyPath="yes" />
			</Component>
			<Component Id="AvalonDockThemesVS2013Dll">
				<File Id="AvalonDockThemesVS2013DllFile" Name="AvalonDock.Themes.VS2013.dll" Source="Source\AvalonDock.Themes.VS2013.dll" KeyPath="yes" />
			</Component>
			<Component Id="XceedWpfToolkitDll">
				<File Id="XceedWpfToolkitDllFile" Name="DotNetProjects.Wpf.Extended.Toolkit.dll" Source="Source\DotNetProjects.Wpf.Extended.Toolkit.dll" KeyPath="yes" />
			</Component>
			<Component Id="AvalonEditDll">
				<File Id="AvalonEditDllFile" Name="ICSharpCode.AvalonEdit.dll" Source="Source\ICSharpCode.AvalonEdit.dll" KeyPath="yes" />
			</Component>

			<!-- Reactive Files -->
			<Component Id="ReactiveUIDll">
				<File Id="ReactiveUIDllFile" Name="ReactiveUI.dll" Source="Source\ReactiveUI.dll" KeyPath="yes" />
			</Component>
			<Component Id="ReactiveUIEventsWPFDll">
				<File Id="ReactiveUIEventsWPFDllFile" Name="ReactiveUI.Events.WPF.dll" Source="Source\ReactiveUI.Events.WPF.dll" KeyPath="yes" />
			</Component>
			<Component Id="ReactiveUIFodyHelpersDll">
				<File Id="ReactiveUIFodyHelpersDllFile" Name="ReactiveUI.Fody.Helpers.dll" Source="Source\ReactiveUI.Fody.Helpers.dll" KeyPath="yes" />
			</Component>
			<Component Id="ReactiveUIValidationDll">
				<File Id="ReactiveUIValidationDllFile" Name="ReactiveUI.Validation.dll" Source="Source\ReactiveUI.Validation.dll" KeyPath="yes" />
			</Component>
			<Component Id="ReactiveUIWPFDll">
				<File Id="ReactiveUIWPFDllFile" Name="ReactiveUI.WPF.dll" Source="Source\ReactiveUI.WPF.dll" KeyPath="yes" />
			</Component>
			<Component Id="SplatDll">
				<File Id="SplatDllFile" Name="Splat.dll" Source="Source\Splat.dll" KeyPath="yes" />
			</Component>
			<Component Id="SystemReactiveDll">
				<File Id="SystemReactiveDllFile" Name="System.Reactive.dll" Source="Source\System.Reactive.dll" KeyPath="yes" />
			</Component>
			<Component Id="SystemReactiveXml">
				<File Id="SystemReactiveXmlFile" Name="System.Reactive.xml" Source="Source\System.Reactive.xml" KeyPath="yes" />
			</Component>
			<Component Id="DynamicDataDll">
				<File Id="DynamicDataDllFile" Name="DynamicData.dll" Source="Source\DynamicData.dll" KeyPath="yes" />
			</Component>
			<Component Id="PharmacistCommonDll">
				<File Id="PharmacistCommonDllFile" Name="Pharmacist.Common.dll" Source="Source\Pharmacist.Common.dll" KeyPath="yes" />
			</Component>

			<!-- FluentValidation Files -->
			<Component Id="FluentValidationDll">
				<File Id="FluentValidationDllFile" Name="FluentValidation.dll" Source="Source\FluentValidation.dll" KeyPath="yes" />
			</Component>

			<!-- Fody Files -->
			<Component Id="MethodBoundaryAspectDll">
				<File Id="MethodBoundaryAspectDllFile" Name="MethodBoundaryAspect.dll" Source="Source\MethodBoundaryAspect.dll" KeyPath="yes" />
			</Component>
			<Component Id="PropertyChangedDll">
				<File Id="PropertyChangedDllFile" Name="PropertyChanged.dll" Source="Source\PropertyChanged.dll" KeyPath="yes" />
			</Component>

			<!-- Newtonsoft Files -->
			<Component Id="NewtonsoftDll">
				<File Id="NewtonsoftDllFile" Name="Newtonsoft.Json.dll" Source="Source\Newtonsoft.Json.dll" KeyPath="yes" />
			</Component>

			<!-- UI Files -->
			<Component Id="InteractivityDll">
				<File Id="InteractivityDllFile" Name="Microsoft.Xaml.Behaviors.dll" Source="Source\Microsoft.Xaml.Behaviors.dll" KeyPath="yes" />
			</Component>
			<Component Id="WindowsAPICodePackDll">
				<File Id="WindowsAPICodePackDllFile" Name="Microsoft.WindowsAPICodePack.dll" Source="Source\Microsoft.WindowsAPICodePack.dll" KeyPath="yes" />
			</Component>
			<Component Id="WindowsAPICodePackShellDll">
				<File Id="WindowsAPICodePackShellDllFile" Name="Microsoft.WindowsAPICodePack.Shell.dll" Source="Source\Microsoft.WindowsAPICodePack.Shell.dll" KeyPath="yes" />
			</Component>
			<Component Id="FontAwesome5Dll">
				<File Id="FontAwesome5DllFile" Name="FontAwesome5.dll" Source="Source\FontAwesome5.dll" KeyPath="yes" />
			</Component>
			<Component Id="FontAwesome5NetDll">
				<File Id="FontAwesome5NetDllFile" Name="FontAwesome5.Net.dll" Source="Source\FontAwesome5.Net.dll" KeyPath="yes" />
			</Component>

			<!-- Librarium Files -->
			<Component Id="LibrariumDll">
				<File Id="LibrariumDllFile" Name="Librarium.dll" Source="Source\Librarium.dll" KeyPath="yes" />
			</Component>
			<Component Id="LibrariumPdb">
				<File Id="LibrariumPdbFile" Name="Librarium.pdb" Source="Source\Librarium.pdb" KeyPath="yes" />
			</Component>
			<Component Id="LibrariumWPFDll">
				<File Id="LibrariumWPFDllFile" Name="Librarium.WPF.dll" Source="Source\Librarium.WPF.dll" KeyPath="yes" />
			</Component>
			<Component Id="LibrariumWPFPdb">
				<File Id="LibrariumWPFPdbFile" Name="Librarium.WPF.pdb" Source="Source\Librarium.WPF.pdb" KeyPath="yes" />
			</Component>

			<!-- Octokit Github Files -->
			<Component Id="OctokitDll">
				<File Id="OctokitDllFile" Name="Octokit.dll" Source="Source\Octokit.dll" KeyPath="yes" />
			</Component>
			<Component Id="OctokitReactiveDll">
				<File Id="OctokitReactiveDllFile" Name="Octokit.Reactive.dll" Source="Source\Octokit.Reactive.dll" KeyPath="yes" />
			</Component>
		</ComponentGroup>
		<ComponentGroup Id="LocalizationComponents">
			<Component Id="AvalonDockResourcesLocalizationCaES" Directory="XLCAESFolder">
				<File Id="AvalonDockResourcesLocalizationCaESFile" Source="Source\ca-ES\AvalonDock.resources.dll" KeyPath="yes" />
			</Component>
			<Component Id="AvalonDockResourcesLocalizationCsCZ" Directory="XLCSCZFolder">
				<File Id="AvalonDockResourcesLocalizationCsCzFile" Source="Source\cs-CZ\AvalonDock.resources.dll" KeyPath="yes" />
			</Component>
			<Component Id="AvalonDockResourcesLocalizationDe" Directory="XLDEFolder">
				<File Id="AvalonDockResourcesLocalizationDeFile" Source="Source\de\AvalonDock.resources.dll" KeyPath="yes" />
			</Component>
			<Component Id="AvalonDockResourcesLocalizationEs" Directory="XLESFolder">
				<File Id="AvalonDockResourcesLocalizationEsFile" Source="Source\es\AvalonDock.resources.dll" KeyPath="yes" />
			</Component>
			<Component Id="AvalonDockResourcesLocalizationFr" Directory="XLFRFolder">
				<File Id="AvalonDockResourcesLocalizationFrFile" Source="Source\fr\AvalonDock.resources.dll" KeyPath="yes" />
			</Component>
			<Component Id="AvalonDockResourcesLocalizationHu" Directory="XLHUFolder">
				<File Id="AvalonDockResourcesLocalizationHuFile" Source="Source\hu\AvalonDock.resources.dll" KeyPath="yes" />
			</Component>
			<Component Id="AvalonDockResourcesLocalizationIt" Directory="XLITFolder">
				<File Id="AvalonDockResourcesLocalizationItFile" Source="Source\it\AvalonDock.resources.dll" KeyPath="yes" />
			</Component>
			<Component Id="AvalonDockResourcesLocalizationJa" Directory="XLJAFolder">
				<File Id="AvalonDockResourcesLocalizationJaFile" Source="Source\ja\AvalonDock.resources.dll" KeyPath="yes" />
			</Component>
			<Component Id="AvalonDockResourcesLocalizationKo" Directory="XLKOFolder">
				<File Id="AvalonDockResourcesLocalizationKoFile" Source="Source\ko\AvalonDock.resources.dll" KeyPath="yes" />
			</Component>
			<Component Id="AvalonDockResourcesLocalizationNlBE" Directory="XLNLBEFolder">
				<File Id="AvalonDockResourcesLocalizationNlBEFile" Source="Source\nl-BE\AvalonDock.resources.dll" KeyPath="yes" />
			</Component>
			<Component Id="AvalonDockResourcesLocalizationPl" Directory="XLPLFolder">
				<File Id="AvalonDockResourcesLocalizationPlFile" Source="Source\pl\AvalonDock.resources.dll" KeyPath="yes" />
			</Component>
			<Component Id="AvalonDockResourcesLocalizationPtBR" Directory="XLPTBRFolder">
				<File Id="AvalonDockResourcesLocalizationPtBRFile" Source="Source\pt-BR\AvalonDock.resources.dll" KeyPath="yes" />
			</Component>
			<Component Id="AvalonDockResourcesLocalizationRo" Directory="XLROFolder">
				<File Id="AvalonDockResourcesLocalizationRoFile" Source="Source\ro\AvalonDock.resources.dll" KeyPath="yes" />
			</Component>
			<Component Id="AvalonDockResourcesLocalizationRu" Directory="XLRUFolder">
				<File Id="AvalonDockResourcesLocalizationRuFile" Source="Source\ru\AvalonDock.resources.dll" KeyPath="yes" />
			</Component>
			<Component Id="AvalonDockResourcesLocalizationSv" Directory="XLSVFolder">
				<File Id="AvalonDockResourcesLocalizationSvFile" Source="Source\sv\AvalonDock.resources.dll" KeyPath="yes" />
			</Component>
			<Component Id="AvalonDockResourcesLocalizationZhHans" Directory="XLZHHANSFolder">
				<File Id="AvalonDockResourcesLocalizationZhHansFile" Source="Source\zh-Hans\AvalonDock.resources.dll" KeyPath="yes" />
			</Component>
			<Component Id="AvalonDockResourcesLocalizationZhHant" Directory="XLZHHANTFolder">
				<File Id="AvalonDockResourcesLocalizationZhHantFile" Source="Source\zh-Hant\AvalonDock.resources.dll" KeyPath="yes" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>